---
layout: default
title: ByStreet
---

<header class="bg-dark text-white text-center py-5" >
		<div class="container">
			<div class="container text-center mb-2">
				<div class="row">
					<div class="col-sm-4">
						<h1> <i class="bi bi-mic" style="font-size: 2rem;"></i> {{ page.title }}</h1>
					</div>
					<div class="col-sm-8 mb-2">
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="musica" aria-label="Search">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						  </form>
					</div>
				</div>
			</div>
			
			<br>
			<p class="lead" style="font-size: 1rem;">Publique sua musica ou negocio para milhares de pessoas que visitam o nosso blog</p>
			<a href="#latest-posts" class="btn btn-primary mt-3">Novos Posts</a>
		</div>
</header>

 <!-- Seção de Últimos Posts -->
<section id="latest-posts" class="py-5">
	<div class="container">
		<h2 class="text-center mb-4">Últimas publicacoes</h2>
		<div class="row">
			{% for item in site.data.musicas %}
				{% include musica.html title=item.name author=item.author description=item.description date=item.date%}
			{% endfor %}
		</div>
	</div>
</section>

<iframe width="1280" height="720" src="https://www.youtube.com/embed/I21a2cbzjGk" title="Isagi Yoichi (Blue Lock) - Egoísta | M4rkim" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<!-- Seção de Gêneros Musicais -->
	